body {
   --brand-color1: #202226;
   --brand-color2: #85DBD7;
   --brand-color3: #FF5EA3;
   --brand-color4: #FFFFFF;
   --brand-color5: #5BBAB8;
   --brand-color6: #d9d9d9;
/*Color 1 is a dark blue-gray. Color 1 is used in background and button 2 text.
Color 2 is a light teal. Color 2 is used in header 2, links, and button 1 background.
Color 3 is a hot pink. Color 3 is used in header 3, link hover, and  social media buttons
Color 4 is white. Color 4 is used for header 1, button 1 text, button 2 background, and body text.
Color 5 is a darker version of Color 2. Color 5 is used for the hover color of button 1.
Color 6 is a light gray. Color 6 is used for the hover color of button 2.*/
background-color: var(--brand-color1);
}

/*Headers and Subheaders*/
h1 {
  color: var(--brand-color4);
  text-align: center;
  font-family:header;
}

h2 {
  color: var(--brand-color2);
  text-align: center;
  font-family:header;
}

h3 {
  color: var(--brand-color3);
  text-align: left;
  font-family:header;
}

/*Body Text*/
p {
  color: var(--brand-color4);
  font-family:body;
  text-align: left;
}

/*Links*/
a {
  color: var(--brand-color2);
  font-family: header;
  text-decoration: none;
}

a:hover {
  color: var(--brand-color3);
  text-decoration: underline;
  transition-duration:0.4s;
}

/*Buttons*/
.button1 {
  background-color: var(--brand-color4);
  font-family:header;
  text-align: center;
  font-size: 15px;
  border-radius: 15px;
  width: 30px;
  height: 15px;
}

.button1:hover {
  background-color:var(--brand-color6);
  transition-duration: 0.4s;
}

.button2 {
  background-color: var(--brand-color2);
  font-family:header;
  text-align: center;
  font-size: 15px;
  border-radius: 15px;
  width: 30px;
  height: 15px;
}

.button2:hover {
  background-color:var(--brand-color5);
  transition-duration: 0.4s;
}

/*Nav Bar*/

ul {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

li {
  display: inline;
  padding: 14px 16px;
  padding-left: 0px;
}

/*Div Boxes*/
div.column {
  column-count: 2;
  column-gap: 30px;
  column-width: 100%;
  margin-top: 15px;
}

div.buttonrow {
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

div.imagebutton {
  position: relative;
  width: 50%;
}

div.imagebutton img {
  width: 100%;
  height: auto;
}

div.imagebutton button.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: var(--brand-color4);
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  font-family:header;
  cursor: pointer;
  display: inline-block;
}

div.imagebutton:hover button.btn:hover {
  color: var(--brand-color6);
}

/*Fonts*/
@font-face {
  font-family:header;
  src:url(Raleway-Black.ttf);
}

@font-face {
  font-family:body;
  src:url(OpenSans-Medium.ttf);
}

/*Devices wider than phones*/
@media only screen and (min-width: 481px) {

    body {
        margin: 40px;
    }


}
